# SentinelConnector dll
.vs
SentinelConnector/SentinelConnector/bin/
SentinelConnector/SentinelConnector/obj/

# TestConsoleUtility for testing SentinelConnector dll under Mac
.vs
TestConsoleUtility/TestConsoleUtility/bin/
TestConsoleUtility/TestConsoleUtility/obj/

# Enterprise Win GUI Sample
.vs
Enterprise/Enterprise/bin/
Enterprise/Enterprise/obj/
Enterprise/Enterprise/libs/
Enterprise/Enterprise/Resources/

# Extention
**/*.dll
**/*.exe
**/*.log
**/*.png
**/*.pdb
**/*.sln
**/*.hvc
**/*.cache

# Mac
**/.DS_Store