**/.DS_Store
SentinelConnector/SentinelConnector/bin/

SentinelConnector/SentinelConnector/obj/

SentinelConnector/\.vs/

TestConsoleUtility/\.vs/

TestConsoleUtility/TestConsoleUtility/bin/

TestConsoleUtility/TestConsoleUtility/obj/

Enterprise/\.vs/

Enterprise/Enterprise/bin/

Enterprise/Enterprise/libs/

Enterprise/Enterprise/obj/

Enterprise/Enterprise/Resources/

*.dll

*.exe
