<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Enterprise.settings.enterprise" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Enterprise.settings.enterprise>
            <setting name="emsUrl" serializeAs="String">
                <value>http://localhost:8080/ems/v78/ws</value>
            </setting>
            <setting name="enableLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="vendorCode" serializeAs="String">
                <value />
            </setting>
            <setting name="scope" serializeAs="String">
                <value>&lt;haspscope&gt;
   &lt;feature id="1"/&gt;
   &lt;feature id="2"/&gt;
   &lt;feature id="3"/&gt;
&lt;/haspscope&gt;</value>
            </setting>
            <setting name="format" serializeAs="String">
                <value />
            </setting>
            <setting name="sentinelUpCallData" serializeAs="String">
                <value>&lt;upclient&gt;
    &lt;param&gt;
        &lt;key&gt;-url&lt;/key&gt;
        &lt;value&gt;ddkxtq.trial.sentinelcloud.com/up&lt;/value&gt;
    &lt;/param&gt;
    &lt;param&gt;
        &lt;key&gt;-k&lt;/key&gt;
        &lt;value&gt;2e546582fa03eecf7312e3832d955ea7&lt;/value&gt;
    &lt;/param&gt;
    &lt;param&gt;
        &lt;key&gt;-pc&lt;/key&gt;
        &lt;value&gt;42836411-f5d4-4ebc-b1b6-d0895505738e&lt;/value&gt;
    &lt;/param&gt;
    &lt;param&gt;
        &lt;key&gt;-v&lt;/key&gt;
        &lt;value&gt;1.0&lt;/value&gt;
    &lt;/param&gt;
    &lt;param&gt;
        &lt;key&gt;-update&lt;/key&gt;
        &lt;value&gt;-update&lt;/value&gt;
    &lt;/param&gt;
&lt;/upclient&gt;</value>
            </setting>
        </Enterprise.settings.enterprise>
    </applicationSettings>
</configuration>